__pycache__
.DS_Store
.env
data
gcloud-config
wc_image_ja.png

# 次のような機密データが含まれている可能性があるすべての .tfvars ファイルを除外します。
# パスワード、秘密鍵、およびその他の秘密。これらはバージョンの一部であってはなりません
# 機密性が高く、対象となる可能性のあるデータ ポイントであるため、管理する
# 環境によって変わる。
*.tfvars
*.tfvars.json

# オーバーライド ファイルは通常、リソースをローカルでオーバーライドするために使用されるため、無視します。
# はチェックインされていません
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# 否定パターンを使用してバージョン管理に追加したいオーバーライド ファイルを含める
# !example_override.tf

# コマンドのプラン出力を無視する tfplan ファイルを含めます: terraform plan -out=tfplan
# 例: *tfplan*

# CLI 設定ファイルを無視
.terraformrc
terraform.rc

# https://www.toptal.com/developers/gitignore/api/terraform の終わり
